# ---- Domain ----
DOMAIN_NAME=XXXXX

# ---- MariaDB ----
MARIADB_DATABASE=XXXXX
MARIADB_BASEDIR=XXXXX
MARIADB_DATADIR=XXXXX
MARIADB_USER=XXXXX

# ---- Wordpress ----
WP_TITLE=XXXXX
WP_ADMIN_EMAIL=XXXXX
SECOND_WP_USER=XXXXX
SECOND_WP_EMAIL=XXXXX