# ---- Domain ----
DOMAIN_NAME=XXXXX

# ---- MariaDB ----
MARIADB_DATABASE=XXXXX
MARIADB_BASEDIR=XXXXX
MARIADB_DATADIR=XXXXX
MARIADB_ROOT_PASSWORD=XXXXX
MARIADB_USER=XXXXX
MARIADB_PASSWORD=XXXXX

# ---- Wordpress ----
WP_DATADIR=XXXXX
WP_TITLE=XXXXX
WP_ADMIN_USER=XXXXX
WP_ADMIN_PASSWORD=XXXXX
WP_ADMIN_EMAIL=XXXXX
SECOND_WP_USER=XXXXX
SECOND_WP_EMAIL=XXXXX
SECOND_WP_PASSWORD=XXXXX